@font-face {
  font-family: 'dogicapixel';
  src: url('../public/dogicapixel.otf');
}

@font-face {
  font-family: 'dogicapixel';
  font-weight: bold;
  src: url('../public/dogicapixelbold.otf');
}

html {
  height: 100%;

  --c-black: hsl(0, 7%, 14%);
  --c-black-translucent: hsla(0, 7%, 14%, 0.667);
  --c-grey-dark: hsl(0, 4%, 38%);
  --c-grey: hsl(60, 7%, 70%);
  --c-grey-light: hsl(60, 14%, 83%);
  --c-red-dark: hsl(0, 72%, 35%);
  --c-red: hsl(0, 100%, 82%);
  --c-red-light: hsl(0, 100%, 94%);
  --c-yellow: hsl(46, 68%, 68%);
  --c-green-bold: hsl(117deg 48.31% 45.15%);
  --c-green: hsl(117, 68%, 68%);
  --c-blue: hsl(198, 68%, 68%);
  --c-blue-light: hsl(198.46deg 100% 82.16%);
  --c-purple-dark: hsl(267, 33%, 12%);
  --c-purple-dark-translucent: hsl(267deg 32.26% 12.16% / 75%);
  --c-purple-grey: hsl(270, 13%, 30%);
  --c-white: hsl(60, 38%, 94%);
}

body {
  height: 100%;
  margin: 0;
  font-family: 'dogicapixel', monospace;
  font-size: 10px;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  position: relative;
  font-family: 'dogicapixel', monospace;
  font-size: 10px;
  border: 4px double var(--c-black);
  border-radius: 0;
  margin: 1px;
  color: var(--c-black);
  background-color: var(--c-white);
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

button:hover {
  background-color: var(--c-grey-light);
}

button:disabled {
  background-color: var(--c-grey);
  color: var(--c-grey-dark);
  border-color: var(--c-grey-dark);
  cursor: default;

  &:hover {
    background-color: var(--c-grey);
  }
}

button.is-selected {
  border-color: var(--c-white);
  color: var(--c-white);
  background-color: var(--c-purple-grey);
}

input {
  font-family: 'dogicapixel', monospace;
  padding: 4px;
  border-radius: 0;
}

p {
  line-height: 1.25;
}

#root {
  height: 100%;
  color: var(--c-white);
  background-color: var(--c-purple-dark);
}

.title {
  font-size: 36px;
  line-height: 1.5;
  font-weight: bold;
  color: var(--c-white);
  text-shadow: 0 1px #ccc, 0 1px #c9c9c9, 0 2px #bbb, 0 3px #9d9d9d, 0 5px #909090;
}

.btn-large {
  padding: 8px;
  font-size: 16px;
  border-width: 6px;
}

.non-btn {
  border: none;
  cursor: default;
}

.text-large {
  font-size: 1.2em;
  letter-spacing: -0.03rem;
}

.text-muted {
  color: var(--c-grey);
}

.text-white {
  color: var(--c-white);
}

.text-black {
  color: var(--c-black);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 100%;

  .title {
    text-align: center;
  }
}