@font-face {
  font-family: 'dogicapixel';
  src: url('../public/dogicapixel.otf');
}

@font-face {
  font-family: 'dogicapixel';
  font-weight: bold;
  src: url('../public/dogicapixelbold.otf');
}

html {
  height: 100%;

  --black: hsl(0, 7%, 14%);
  --grey-dark: hsl(0, 4%, 38%);
  --grey: hsl(60, 7%, 70%);
  --grey-light: hsl(60, 14%, 83%);
  --red-dark: hsl(0, 72%, 35%);
  --red: hsl(0, 100%, 82%);
  --red-light: hsl(0, 100%, 94%);
  --yellow: hsl(46, 68%, 68%);
  --green-bold: hsl(117deg 48.31% 45.15%);
  --green: hsl(117, 68%, 68%);
  --blue: hsl(198, 68%, 68%);
  --blue-light: hsl(198.46deg 100% 82.16%);
  --purple-dark: hsl(267, 33%, 12%);
  --purple-grey: hsl(270, 13%, 30%);
  --white: hsl(60, 38%, 94%);
  
}

body {
  height: 100%;
  margin: 0;
  font-family: 'dogicapixel', monospace;
  font-size: 10px;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  position: relative;
  font-family: 'dogicapixel', monospace;
  font-size: 10px;
  border: 4px double var(--black);
  border-radius: 0;
  margin: 1px;
  color: var(--black);
  background-color: var(--white);
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

button:hover {
  background-color: var(--grey-light);
}

button:disabled {
  background-color: var(--grey);
  color: var(--grey-dark);
  border-color: var(--grey-dark);
  cursor: default;

  &:hover {
    background-color: var(--grey);
  }
}

button.is-selected {
  border-color: var(--white);
  color: var(--white);
  background-color: var(--purple-grey);
}

input {
  font-family: 'dogicapixel', monospace;
  padding: 4px;
  border-radius: 0;
}

#root {
  height: 100%;
  color: var(--white);
  background-color: var(--purple-dark);
}

.title {
  font-size: 36px;
  line-height: 1.5;
  font-weight: bold;
  color: var(--white);
  text-shadow: 0 1px #ccc, 0 1px #c9c9c9, 0 2px #bbb, 0 3px #9d9d9d, 0 5px #909090;
}

.btn-large {
  padding: 8px;
  font-size: 16px;
  border-width: 6px;
}

.text-large {
  font-size: 1.2em;
  letter-spacing: -0.03rem;
}

.text-muted {
  color: var(--grey);
}

.text-white {
  color: var(--white);
}

.text-black {
  color: var(--black);
}