@font-face {
  font-family: 'dogicapixel';
  src: url('../public/dogicapixel.otf');
}

@font-face {
  font-family: 'dogicapixel';
  font-weight: bold;
  src: url('../public/dogicapixelbold.otf');
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'dogicapixel', monospace;
  font-size: 10px;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  position: relative;
  font-family: 'dogicapixel', monospace;
  font-size: 10px;
  border: 4px double #252020;
  border-radius: 0;
  margin: 1px;
  color: #252020;
  background-color: #f6f6eb;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

button:hover {
  background-color: #d9d9cd;
}

button:disabled {
  background-color: #b8b8ae;
  color: #665e5e;
  border-color: #665e5e;
  cursor: default;

  &:hover {
    background-color: #b8b8ae;
  }
}

button.is-selected {
  border-color: #f6f6eb;
  color: #f6f6eb;
  background-color: #4c4256;
}

input {
  font-family: 'dogicapixel', monospace;
  padding: 4px;
  border-radius: 0;
}

#root {
  height: 100%;
  color: #f6f6eb;
  background-color: #1d1428;
}

.title {
  font-size: 36px;
  line-height: 1.5;
  font-weight: bold;
  color: #f6f6eb;
  text-shadow: 0 1px #ccc, 0 1px #c9c9c9, 0 2px #bbb, 0 3px #9d9d9d, 0 5px #909090;
}

.btn-large {
  padding: 8px;
  font-size: 16px;
  border-width: 6px;
}

.text-large {
  font-size: 1.2em;
  letter-spacing: -0.03rem;
}