#landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 100%;

  .title {
    text-align: center;
  }
}

.claim-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  max-width: 650px;
}

.claim-account-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  .text-large {
    margin-bottom: 4px;
  }
}

.claim-account-character-class {
  align-self: flex-start;
  display: flex;
  gap: 4px;
  align-items: center;
}

.create-room-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 32px;
}