#canvasAnchor {
  position: absolute;
}

#canvasAnchorTop {
  z-index: 10000;
  position: absolute;
  pointer-events: none;
}

.extracted-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: fit-content;
  }
}