#canvasAnchor {
  position: absolute;
}

#canvasAnchorTop {
  z-index: 10000;
  position: absolute;
  pointer-events: none;
}

.extracted-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--c-white-lucent);
  border: 1px solid var(--c-white);

  img {
    width: fit-content;
  }
}