.modal-container {
  position: absolute;
  top: 0;
  left: 0;
}

.modal-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--c-black-translucent);
}

.modal-background:hover {
  background-color: var(--c-black-translucent);
}

.modal-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-shell {
  z-index: 1;
  display: flex;
  flex-direction: column;
  color: var(--c-white);
  background-color: var(--c-black);
  border: 4px double var(--c-white);
}

.btn-modal-close {
  margin-left: auto;
}