.tooltip {
  z-index: 1000;
  position: fixed;
  width: 200px;
  padding: 8px 12px;
  border-radius: 4px;
  background: var(--c-white);
  color: var(--c-black);
  box-shadow: 0 1px 2px 2px #2928272f;
}

.tooltip-background {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;

  &.top {
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--c-white);
  }
  &.bottom {
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid var(--c-white);
  }
  &.left {
    right: -6px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid var(--c-white);
  }
  &.right {
    left: -6px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid var(--c-white);
  }
}