.fighter-detail {
  padding: 8px 16px 16px;
  line-height: 1.5;

  .text-title {
    display: block;
    font-size: 2em;
  }

  .text-subtitle {
    display: block;
    font-size: 1.5em;
  }

  .body {
    display: flex;
    gap: 16px;
  }

  .section-primary {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 60vh;
    width: fit-content;
    max-width: 30vw;
    overflow-y: auto;

    p {
      margin: 0;
    }
  }

  .sprite-and-stats {
    display: flex;
    gap: 16px;

    .occupant-sprite-wrapper {
      width: unset;
    }
  }

  .stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .section-equipment {
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-height: 60vh;
    overflow-y: auto;

    .text-title {
      font-size: 1.25em;
    }
  }

  .equipment {
    max-width: 30vw;
    padding: 4px;
    border: 1px solid var(--c-white);
  }
}