#debug-character {
  position: relative;
  display: flex;
  padding: 1rem 10%;
}

.debug-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.debug-buttons-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 100vh;
  overflow-y: auto;

  div {
    display: flex;
    flex-direction: column;
  }
}

.debug-equipment-button {
  display: flex;
  align-items: center;
  gap: 4px;
}