.rich-text-section, .rich-text-span {
  line-height: 1.5;
}

.tooltip-surface {
  width: fit-content;
  text-decoration: underline;
  text-underline-offset: 1px;
  cursor: pointer;
}

.term-tooltip {
  display: flex;
  flex-direction: column;
}

.section-with-separator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  & > :not(:first-child) {
    width: 100%;
    margin: auto;
    margin-top: 8px;
    padding-top: 8px;
    border-top: 2px solid var(--c-grey);
  }
}