#battle {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  /* padding: 8px; */
}

#battlefield {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.battle-row {
  display: flex;
  gap: 2px;
}

.battle-spot {
  width: 65px;
  height: 45px;
  padding: 2px;
  border: 1px solid #fff;
}

@keyframes pulse-bg {
  0% {
    background-color: var(--c-purple-dark);
  }
  100% {
    background-color: var(--c-purple-grey);
  }
}

.can-target {
  animation: pulse-bg 0.5s infinite alternate;
  cursor: pointer;
}

.target-selected {
  background-color: var(--c-purple-grey);
}

#equip-select {
  display: flex;
  max-width: 800px;
  margin: auto;
  margin-bottom: 8px;
  padding: 4px;
}

.top-bottom-select {
  flex-grow: 1;
  flex-basis: 20%;
}

#select-main-container {
  flex-grow: 2;
  flex-basis: 45%;
  display: flex;
  flex-wrap: wrap;
}

.select-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
  padding: 8px;
  border: 1px solid #fff;
}

.text-large {
  font-size: 1.2em;
  letter-spacing: -0.03rem;
}

.select-description {
  margin-bottom: auto;
}

.main-select {
  flex: 1 0 45%;
}

.select-empty {
  color: var(--c-grey);
}

.btn-confirm {
  width: min(100%, 400px);
  margin: auto;
}

.waiting-text {
  width: min(100%, 800px);
  margin: auto;
  text-align: center;
}

.conclusion-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(100%, 800px);
  margin: auto;
}

.btn-back-container {
  display: flex;
  justify-content: flex-start;
  width: min(100%, 800px);
  margin: auto;
  margin-top: 16px;
}

.actions-resolved-container {
  display: flex;
  gap: 16px;
  margin: auto;

  div {
    display: flex;
    flex-direction: column;
  }
}

.intentions-container {
  display: flex;
  gap: 16px;
  margin: auto;

  div {
    display: flex;
    flex-direction: column;
  }
}

.spot-occupant {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.health-bar-outer {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 65px;
  max-width: 65px;
  height: 12px;
  overflow: hidden;
  transition: background-color 1s;
}

.health-bar-inner {
  position: absolute;
  height: 12px;
  transition: width 0.5s, background-color 1s;
}

.health-bar-text {
  position: absolute;
  transition: color 1s;
}

@keyframes pulse-opacity {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pulse-opacity-bar {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.pulse-opacity {
  animation: pulse-opacity-bar 0.5s infinite alternate;
}

.future-icon {
  position: absolute;
  font-size: 3em;
  animation: pulse-opacity 1s infinite alternate;
}

#battle-missing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 100%;

  .title {
    text-align: center;
  }
}