#battle {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
}

#battle-background-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  
  #battle-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: pixelated;
  }
}

#battle-header {
  isolation: isolate;
  display: flex;
  justify-content: center;
}

#battle-header-contents {
  isolation: isolate;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
}

#cinders-spacer {
  opacity: 0;
}

#battlefield {
  isolation: isolate;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.battlefield-side {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.battle-row {
  display: flex;
  gap: 4px;
}

.text-large {
  font-size: 1.2em;
  letter-spacing: -0.03rem;
}

.btn-confirm {
  width: min(100%, 400px);
  margin: auto;
}

.waiting-text {
  z-index: 1;
  width: min(100%, 800px);
  margin: auto;
  text-align: center;
}

.conclusion-section {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(100%, 800px);
  margin: auto;
}

.btn-back-container {
  display: flex;
  justify-content: flex-start;
  width: min(100%, 800px);
  margin: auto;
  margin-top: 16px;
}

.bottom-container {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: auto;
  min-height: 36vh;
  max-height: 50vh;
  width: 100%;
  background-color: var(--c-purple-dark-translucent);

  div {
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    overflow: auto;
  }

  .text-large {
    max-width: 600px;
  }
}

.command-confirm {
  flex-direction: column;
}

#battle-missing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 100%;

  .title {
    text-align: center;
  }
}

#battle-post-conclusion {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}