#battle {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  /* padding: 8px; */
}

#battlefield {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.battle-row {
  display: flex;
  gap: 2px;
}

.battle-spot {
  width: 65px;
  height: 45px;
  padding: 2px;
  border: 1px solid #fff;
}

@keyframes pulse {
  0% {
    background-color: #1d1428;
  }
  100% {
    background-color: #444;
  }
}

.can-target {
  animation: pulse 0.5s infinite alternate;
  cursor: pointer;
}

.target-selected {
  background-color: #444;
}

#equip-select {
  display: flex;
  max-width: 800px;
  margin: auto;
  margin-bottom: 8px;
  padding: 4px;
}

.top-bottom-select {
  flex-grow: 1;
  flex-basis: 20%;
}

#select-main-container {
  flex-grow: 2;
  flex-basis: 45%;
  display: flex;
  flex-wrap: wrap;
}

.select-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
  padding: 8px;
  border: 1px solid #fff;
}

.text-large {
  font-size: 1.2em;
  letter-spacing: -0.03rem;
}

.select-description {
  margin-bottom: auto;
}

.main-select {
  flex: 1 0 45%;
}

.select-empty {
  color: #888;
}

.btn-confirm {
  width: min(100%, 400px);
  margin: auto;
}

.waiting-text {
  width: min(100%, 400px);
  margin: auto;
  text-align: center;
}

.conclusion-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(100%, 400px);
  margin: auto;
}

.actions-resolved-container {
  display: flex;
  margin: auto;

  div {
    display: flex;
    flex-direction: column;
  }
}